* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    color: #222;
}
header, .container {
    max-width: 700px;
    margin: auto;
}
.links {
    text-decoration: none;
    color: #222;
}
.logo {
    font-size: 24px;
    padding: 20px 0;
}
.article, .details {
    margin: 20px 0;
}
.article > h3 > a {
    color: cornflowerblue;
} 
.article p, .details p {
    margin-top: 10px;
}
.back {
    margin-top: 10px;
}
.back a {
    text-decoration: none;
    color: cornflowerblue;
}